/*Ссылка на шрифты кроме основного 'https://fonts.googleapis.com/css?family=Farsan|Hind+Siliguri|Racing+Sans+One|Six+Caps|Space+Mono:700'*/

.div {
    font-family: "Arial", "Helvetica", sans-serif;
}

@import url('https://fonts.googleapis.com/css?family=Farsan|Hind+Siliguri|Racing+Sans+One|Six+Caps|Space+Mono:700');

@import url('./fonts.css');

body
{
    width: 1200px;
    margin: 0 auto;
}

main p {
    font-size: 0.8em;
    text-align: justify;
    text-indent: 10pt;
    margin: 2%;
}

.clear-fix:after
{
    display: block;
    clear: both;

    content: '';
}

/*––––––––––––––––––Шапка газеты––––––––––––––––––––*/
.header
{
    margin: 35px 0 25px;
}

.header__info
{
    float: left;
    text-align: center;
    box-sizing: border-box;
    width: 200px;
    padding: 25px 10px;

    border: 1px solid;
}

.header__weather
{
    float: right;

    width: 200px;
}

.header__weather-title
{
    font-family: Space Mono, monospace;
    font-size: 1.17em;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

.header__weather-text
{
    text-align: justify;
    font-size: 0.8em;
    line-height: 1.1em;
    margin: 0;
}

.header__title
{
    overflow: visible;
    text-align: center;
    font-family: 'Mariage';
    font-size: 6em;
    font-weight: bold;

    margin: 0;
}


/*––––––––––––––––––Подшапка газеты–––––––––––––––––*/
.sub-header
{
    padding: 5px 0;

    border-top: 1px solid;
    border-bottom: 2px solid;
}

.sub-header__copyright
{
    display: inline-block;
    font-size: 0.6em;
    margin: 0 30px;
}

.sub-header__price
{
    float: right;
}


/*––––––––––––––––––Основной контент––––––––––––––––*/
.content
{
    display: flex;
}

/*––––––––––––––––––Блок статьи–––––––––––––––––––––*/
.article__title
{
    font-family: Six Caps, sans-serif;
    font-weight: 700;
    font-size: 3.2em;
    margin-top: 0;
    margin-bottom: 10px;
}

.article__help
{
    margin-top: 10px !important;
    margin-bottom: 4px !important;
}


.article__add-text
{
    text-indent: 10pt;
    font-size: 0.8em;
    font-style: italic;

    margin-top: 10px;
    margin-bottom: 4px;
}

.article__author
{
    column-span: all;
    font-size: 0.8em;
    font-weight: bold;
    text-align: center;
    display: block;
    margin-top: 10px;
}



.article__continue
{
    text-align: center;
    font-style: italic;
    font-size: 0.8em;
    display: block;
    column-span: all;
}

.article__image
{
    margin: 0;
    text-indent: 0;
}

.article__image.article__image_align_right
{
    float: right;

    margin: 10px 0 5px 10px;
}

.article__subtitle
{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: bold;
    font-size: 1.17em;
    margin: 10px 0;
}

/*––––––––––––––––––Блок главной фотографии–––––––––*/
.main-photo__wrapper
{
    margin: 0;
}

.main-photo__img
{
    width: 100%;
}

.main-photo__caption {
    text-align: right;
    font-size: 0.7rem;
    text-transform: uppercase;
}

.main-photo__title
{
    font-weight: bold;
    margin: 0;
}

.main-photo__desc
{
    font-size: 0.7em;
    margin-bottom: 20px;
}

/*––––––––––––––––––Линия разделения––––––––––––––––*/
.line
{
    border-top: 1px solid #000;
}

.line.line_type_bold
{
    margin-bottom: 3px;

    border-width: 2px;
}

.line.line_type_short
{
    width: 70px;
    margin: 0 auto;
}

/*––––––––––––––––––Центральные колонки газеты––––––––––––––––––*/


.multicolumn
{
    margin-top: 10px;
}

.multicolumn__right,
.multicolumn__left
{
    display: inline-block;

    box-sizing: border-box;
    width: 49%;

    vertical-align: top;

}

.multicolumn__right
{
    padding-left: 10px;
}

.article__title.article__title_font_farsan {
    font-size: 2.3em;
    font-weight: bold;
    font-family: 'Farsan', cursive;
}

.multicolumn__left
{
    padding-right: 10px;

    border-right: 1px solid #000;
}

.article__title.article__title_font_racing {
    font-size: 2em;
    font-weight: bold;
    font-family: 'Racing Sans One', cursive;
}

.multicolumn .line_type_short
{
    width: 50%;
    margin: 10px auto;
}

.multicolumn .article__title
{
    margin: 10px 0 0 0;
}

.multicolumn .article__content {
    column-count: 2;
    column-gap: 15px;
}

.center-column
{
    margin-top: 20px;
    padding: 0 10px;

    flex-grow: 2;
}

/*––––––––––––––––––Второстепенные колонки газеты––––––––––––––––––*/
.left-column
{
    border-right: 1px solid #000;
}

.right-column
{
    border-left: 1px solid #000;
}

.right-column,
.left-column
{
    box-sizing: border-box;
    width: 200px;
    margin-top: 20px;
    padding: 0 10px;

    flex-shrink: 0;
}

article__image-caption {
    font-size: 0.8em;
}

/*––––––––––––––––––––––––––––––––––––––––––––––––––*/
